<mat-progress-bar *ngIf="(dataSource.data.length === 0) && isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container">
  <div class="breadcrumb">
    <mat-chip-listbox class="breadcrumb-left">
      <mat-chip-option routerLink="/organizations" routerLinkActive="active">{{ 'MENU.ORGS' | translate }}</mat-chip-option>
      <mat-chip-option *ngIf="org.id" routerLink="/organization/{{org.id}}" routerLinkActive="active">{{org.name}}</mat-chip-option>
      <mat-chip-option *ngIf="org.id" routerLink="/organization/{{org.id}}/clients" routerLinkActive="active">{{ 'MENU.CLIENTS' | translate }}</mat-chip-option>
      <mat-chip-option *ngIf="org.id && client.id" routerLink="/organization/{{org.id}}/client/{{client.id}}" routerLinkActive="active">{{client.name}}</mat-chip-option>
      <mat-chip-option disabled>{{ 'CLIENT.DRAINLIST' | translate }}</mat-chip-option>
    </mat-chip-listbox>
    <div class="breadcrumb-right">
      <button *ngIf="org.id && client.id" mat-flat-button color="primary" routerLink="/organization/{{org.id}}/client/{{client.id}}/feed" routerLinkActive="active">{{ 'FEED.CREATE' | translate }}</button>
      <button *ngIf="org.id && client.id" mat-flat-button color="primary" routerLink="/organization/{{org.id}}/client/{{client.id}}/drain" routerLinkActive="active">{{ 'DRAIN.CREATE' | translate }}</button>
    </div>
  </div>
  <div class="no-data-div" *ngIf="(dataSource.data.length === 0) && !isLoading && !isFiltering">
    <span>{{ 'CLIENT.NOFEEDS' | translate }}</span>
    <div class="button-row-right">
      <button mat-raised-button (click)="goBack()" tabindex="-1">{{ 'DIALOG.BACK' | translate }}</button>
    </div>
  </div>
  <div *ngIf="(dataSource.data.length > 0) || isFiltering">
    <mat-form-field class="search-box">
      <mat-label>{{ 'CLIENT.SEARCHFEED' | translate }}</mat-label>
      <input matInput #searchFeed placeholder="{{ 'CLIENT.SEARCHFEED' | translate }}" (input)="searchDrain.value='';filterChanged($event.target.value, 'feed');">
    </mat-form-field>
    <mat-form-field class="search-box">
      <mat-label>{{ 'CLIENT.SEARCHDRAIN' | translate }}</mat-label>
      <input matInput #searchDrain placeholder="{{ 'CLIENT.SEARCHDRAIN' | translate }}" (input)="searchFeed.value='';filterChanged($event.target.value, 'drain');">
    </mat-form-field>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="togo-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="mat-tree-node-content" matTreeNodeToggle [class.clickable]="hasChild(node.id, node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.id">
          <mat-icon class="mat-icon-rtl-mirror" *ngIf="hasChild(node.id, node)">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="mat-tree-node-title" [class.mat-tree-node-bold-title]="node.type === 'feed'">
          <mat-icon class="mat-tree-node-title-icon client-default-drain" title="{{ 'DRAIN.CLIENTDEFAULTDRAIN' | translate }}" *ngIf="node.client_default_drain">grade</mat-icon>
          {{node.item}}
          <mat-icon class="mat-tree-node-title-icon mat-tree-node-title-icon-after error" *ngIf="node.alert" title="{{ 'DRAIN.ALERT' | translate }}">notification_important</mat-icon>
          <mat-icon class="mat-tree-node-title-icon mat-tree-node-title-icon-after error" *ngIf="node.alarm" title="{{ 'DRAIN.ALARM' | translate }}">error</mat-icon>
          <mat-icon class="mat-tree-node-title-icon mat-tree-node-title-icon-after warning" *ngIf="node.warning" title="{{ 'DRAIN.WARNING' | translate }}">warning</mat-icon>
        </div>
        <div class="mat-tree-node-buttons button-row-right">
          <button *ngIf="(node.id !== 0) && (node.type === 'drain')" mat-stroked-button color="primary" (click)="show(node.id)">
            <mat-icon>timeline</mat-icon>
            {{ 'DRAIN.SHOWMEASURES' | translate }}
          </button>
          <button *ngIf="node.id !== 0" mat-stroked-button color="primary" (click)="edit(node.type, node.id)">
            <mat-icon>edit</mat-icon>
            {{ ((node.type === 'drain') ? 'DRAIN.EDIT' : 'FEED.EDIT') | translate }}
          </button>
        </div>
        <mat-divider class="mat-tree-node-divider"></mat-divider>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
