<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container">
  <div class="breadcrumb">
    <mat-chip-listbox class="breadcrumb-left">
      <mat-chip-option routerLink="/dashboard" routerLinkActive="active">{{ 'MENU.DASHBOARD' | translate }}</mat-chip-option>
      <mat-chip-option disabled>{{ dashboard.id ? dashboard.name : ('DASHBOARD.NEW' | translate) }}</mat-chip-option>
    </mat-chip-listbox>
    <div class="breadcrumb-right">
      <button *ngIf="dashboard.id" mat-flat-button color="warn" [disabled]="isDeleting || dashboard.default" (click)="delete()">{{ 'DASHBOARD.DELETEDASHBOARD' | translate }}</button>
    </div>
  </div>
  <h4>
    {{ (dashboard.id ? 'DASHBOARD.EDITTITLE' : 'DASHBOARD.CREATETITLE') | translate }}
  </h4>
  <form class="togo-form" *ngIf="dashboardForm">
    <div class="togo-form-field-group">
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'DASHBOARD.NAME' | translate }}</mat-label>
        <input matInput [formControl]="name" required/>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">{{ 'DASHBOARD.MISSINGNAME' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="medium-form-field">
        <mat-label>{{ 'DASHBOARD.ORG' | translate }}</mat-label>
        <mat-select [formControl]="organization" [compareWith]="compareObjects" required>
          <mat-option *ngFor="let org of allOrgs" [value]="org">{{org.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="organization.invalid && (organization.dirty || organization.touched) && organization.errors.required">{{ 'DASHBOARD.MISSINGORG' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="short-form-field" floatLabel="always" appearance="none">
        <mat-slide-toggle [disabled]="dashboard.default" [formControl]="default">{{ 'DASHBOARD.DEFAULT' | translate}}</mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-accordion class="short-form-field">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'DASHBOARD.SELECTUSERS' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-selection-list [formControl]="selectedUser">
            <mat-list-option *ngFor="let user of userList" [selected]="dashboardUsersList.includes(user.id)" [value]="user.id">
              {{user.username}}
              <mat-divider vertical></mat-divider>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
  <div class="button-row-right">
    <button type="submit" mat-raised-button color="primary" (click)="save(false)" [disabled]="isSaving || dashboardForm.invalid">{{ 'DASHBOARD.SAVE' | translate }}</button>
    <button *ngIf="dashboard.id" mat-raised-button class="darkmagenta-button" (click)="save(true)" [disabled]="isSaving || dashboardForm.invalid">{{ 'DASHBOARD.DUPLICATE' | translate }}</button>
    <button mat-raised-button (click)="goBack()" tabindex="-1">{{ 'DIALOG.BACK' | translate }}</button>
  </div>
</div>
