<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container" *ngIf="index">
  <div class="breadcrumb">
    <mat-chip-listbox class="breadcrumb-left">
      <mat-chip-option routerLink="/organizations" routerLinkActive="active">{{ 'MENU.ORGS' | translate }}</mat-chip-option>
      <mat-chip-option *ngIf="org.id" routerLink="/organization/{{org.id}}" routerLinkActive="active">{{org.name}}</mat-chip-option>
      <mat-chip-option routerLink="/indices" routerLinkActive="active">{{ 'MENU.INDICES' | translate }}</mat-chip-option>
      <mat-chip-option *ngIf="grp.id" routerLink="/indexgroup/{{grp.id}}" routerLinkActive="active">{{grp.name}}</mat-chip-option>
      <mat-chip-option disabled>{{ index.id ? index.name : ('INDEX.NEW' | translate) }}</mat-chip-option>
    </mat-chip-listbox>
    <div class="breadcrumb-right">
      <button *ngIf="index.id" mat-flat-button color="warn" [disabled]="isDeleting" (click)="delete()">{{ 'INDEX.DELETE' | translate }}</button>
    </div>
  </div>
  <h4>
    {{ (index.id ? 'INDEX.EDITTITLE' : 'INDEX.CREATETITLE') | translate }}
  </h4>
  <form class="togo-form" [formGroup]="indexForm">
    <div class="togo-form-field-group">
      <mat-form-field class="medium-form-field">
        <mat-label>{{ 'INDEX.ORG' | translate }}</mat-label>
        <mat-select [formControl]="organization" [compareWith]="compareObjects" required>
          <mat-option *ngFor="let org of allOrgs" [value]="org">{{org.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="organization.invalid && (organization.dirty || organization.touched) && organization.errors.required">{{ 'INDEX.MISSINGORG' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="long-form-field">
        <mat-label>{{ 'INDEX.NAME' | translate }}</mat-label>
        <input matInput [formControl]="name" required>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">{{ 'INDEX.MISSINGNAME' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="long-form-field">
        <mat-label>{{ 'INDEX.GROUP' | translate }}</mat-label>
        <mat-select [formControl]="group" [compareWith]="compareObjects">
          <mat-option value=""> -- </mat-option>
          <mat-option *ngFor="let g of orgGroups" [value]="g">{{g.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.COEFFICIENT' | translate }}</mat-label>
        <input matInput [formControl]="coefficient">
        <mat-error *ngIf="coefficient.invalid && (coefficient.dirty || coefficient.touched) && coefficient.errors.pattern">{{ 'INDEX.INVALIDCOEFFICIENT' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.UNITOFMEASURE' | translate }}</mat-label>
        <input matInput [formControl]="measure_unit">
      </mat-form-field>
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.DECIMALS' | translate }}</mat-label>
        <input matInput [formControl]="decimals">
        <mat-error *ngIf="decimals.invalid && (decimals.dirty || decimals.touched) && decimals.errors.pattern">{{ 'INDEX.INVALIDDECIMALS' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.MINVALUE' | translate }}</mat-label>
        <input matInput [formControl]="min_value">
        <mat-icon matSuffix matTooltip="{{ 'INDEX.MINVALUEINFO' | translate }}">info_outline</mat-icon>
        <mat-error *ngIf="min_value.invalid && (min_value.dirty || min_value.touched) && min_value.errors.pattern">{{ 'INDEX.INVALIDMINVALUE' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.MAXVALUE' | translate }}</mat-label>
        <input matInput [formControl]="max_value">
        <mat-icon matSuffix matTooltip="{{ 'INDEX.MAXVALUEINFO' | translate }}">info_outline</mat-icon>
        <mat-error *ngIf="max_value.invalid && (max_value.dirty || max_value.touched) && max_value.errors.pattern">{{ 'INDEX.INVALIDMAXVALUE' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="togo-form-field-group">
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.WARNINGVALUE' | translate }}</mat-label>
        <input matInput [formControl]="warning_value">
        <mat-error *ngIf="warning_value.invalid && (warning_value.dirty || warning_value.touched) && warning_value.errors.pattern">{{ 'INDEX.INVALIDWARNINGVALUE' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="short-form-field">
        <mat-label>{{ 'INDEX.ALARMVALUE' | translate }}</mat-label>
        <input matInput [formControl]="alarm_value">
        <mat-error *ngIf="alarm_value.invalid && (alarm_value.dirty || alarm_value.touched) && alarm_value.errors.pattern">{{ 'INDEX.INVALIDALARMVALUE' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <h4>{{ 'INDEX.COMPONENTS' | translate }}</h4>
      <div class="togo-list">
        <div *ngFor="let i of elementCounter">
          <div class="togo-list-item index-component">
            <button mat-icon-button class="togo-list-item-title-icon" (click)="deleteFormula(i)" >
              <mat-icon class="togo-list-item-title-icon error" title="{{ 'INDEX.DELETEFORMULA' | translate }}">remove_circle</mat-icon>
            </button>
            <mat-form-field class ="long-form-field">
              <mat-label>{{ 'FORMULASTREE.CHOOSEFORMULA' | translate }}</mat-label>
              <mat-select [formControlName]="'formula_' + i" required>
                <mat-option *ngFor="let f of orgFormulas" [value]="f.id">{{f.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="indexForm.get('formula_' + i).invalid && (indexForm.get('formula_' + i).dirty || indexForm.get('formula_' + i).touched) && indexForm.get('formula_' + i).errors.required">{{ 'INDEX.MISSINGFORMULA' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="togo-list-item index-component">
            <mat-form-field class="short-form-field">
              <mat-label>{{ 'INDEX.NSKIP' | translate }}</mat-label>
              <input type="number" matInput [formControlName]="'nSkip_' + i">
              <span matSuffix></span>
              <mat-error *ngIf="indexForm.get('nSkip_' + i).invalid && (indexForm.get('nSkip_' + i).dirty || indexForm.get('nSkip_' + i).touched) && indexForm.get('nSkip_' + i).errors.pattern">{{ 'INDEX.INVALIDNSKIP' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field class="short-form-field">
              <mat-label>{{ 'INDEX.SKIPPERIOD' | translate }}</mat-label>
              <mat-select [formControlName]="'skipPeriod_' + i">
                <mat-option value="">-</mat-option>
                <mat-option value="m">{{ "INDEX.MINUTE" | translate }}</mat-option>
                <mat-option value="h">{{ "INDEX.HOUR" | translate }}</mat-option>
                <mat-option value="d">{{ "INDEX.DAY" | translate }}</mat-option>
                <mat-option value="M">{{ "INDEX.MONTH" | translate }}</mat-option>
                <mat-option value="Y">{{ "INDEX.YEAR" | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="togo-list-item index-component">
            <mat-form-field class="very-short-form-field">
              <mat-label>{{ 'INDEX.OPERATION' | translate }}</mat-label>
              <mat-select [formControlName]="'operator_' + i" required>
                <mat-option value='TIMES'>*</mat-option>
                <mat-option value='DIVISION'>/</mat-option>
                <mat-option value='PERCENTAGE'>%</mat-option>
                <mat-option value='SEMICOLON'>;</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>
    </div>
  </form>
  <div class="togo-form">
    <span>
      <button class="togo-form-button adddrains-button" mat-raised-button (click)="addFormula()">{{ 'INDEX.ADDFORMULA' | translate }}</button>
    </span>
  </div>
  <div class="button-row-right">
    <button type="submit" class="adddrains-button" mat-raised-button color="primary" (click)="save()" [disabled]="isSaving || indexForm.invalid || (elementCounter.length === 0) || !lastSemicolon">{{ 'INDEX.SAVE' | translate }}</button>
    <button mat-raised-button (click)="goBack()" tabindex="-1">{{ 'DIALOG.BACK' | translate }}</button>
  </div>
</div>
